
.cartContainer{
  margin-top: -25px;
  cursor: pointer;
}

.cartIcon{
  position: absolute;
  padding-top: 20px;
}

@media only screen and (min-width: 900px){
  .cartIcon{
    padding-top: 44px;


  }
  .cartContainer svg:hover{
    fill: #47A0FF;
    transition: all 0.3s;
  }
  

}

@media only screen and (max-width: 900px){
  .cartContainer{
    width: 80px;
    margin-left: 38px;
  }

}

.svgNotActive svg{
  fill: white
}
.svgActive svg{
  fill: #1463f3;
}

.svgContainer{
  margin-left:10px 
}

.numberCart{
    position:relative;
    top: -10px;
    left: 28px
  }