.header{
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
  position: fixed;
  z-index: 3000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid rgba(192, 44, 44, 0) 2px;
  background-color: #1d1d1f;
  opacity: 1;
  position: 0 0;
  height: 60px;
}

.active{
  color:  #1463f3;
  text-decoration: underline 3px;
}

.header a:hover{
  color:#47A0FF
}

.header a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1.2rem;
}

.hamburgerMenu{
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 1.8rem;
  z-index: 100;
  display: none;
  cursor: pointer;
}

nav .hamburgerMenu span{
  height: 0.3rem;
  width: 40px;
  background-color: white;
  border-radius: 0.2rem;
  transition: ease-in-out 0.3s;
  z-index: 101;
}

nav .hamburgerMenu:hover span{
  background-color: #47A0FF;
}

nav .hamburgerMenuActive span{
  background-color:  #1463f3;
}

.personal{
  margin-right: 6px;
}
.menuUndefined{
  display: none;
}



@media only screen and (min-width: 900px){
  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .menuUndefined{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  .personal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 26%;


  }
  .personal ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0rem;
    padding-right: 20px;
    margin-left: 20px;
  }

  .personal li{
    margin-left: 10px;
    margin-right: 18px;
  }
  
  .containeraroundlinks{
  display: flex;
  flex-direction: row;
  width: 100%;
  }

  .navigation{
  display: flex;
  width: 74%;
  align-items: center;
  justify-content: center;
  }

  .navigation li{
  margin-left: 19px;
  margin-right: 13px;
  }

  .numberCart{
  position:relative;
  top: -12px;
  left: 18px
  }
  
}

@media only screen and (max-width: 650px){
  .logo{
    margin-left: 80px;
    margin-right: -80px;
  ;}
  
  .hamburgerMenu{
    display: flex;
    margin-left: -50px;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 650px){
  .hamburgerMenu{
    display: flex;
    margin-left: 60px;
    margin-right: -40px;
  }
  .logo{
    margin-left: -60px;
    margin-right: 40px;
  ;}

}

@media only screen and (max-width: 900px){
  .header{
    display: flex;
    width: 100%;
    justify-content: center;
  }


  .containeraroundlinks{
    margin-top: 325px;
    height: 210px;
    width: 100%;
    background-color:  #252527;
    padding: 20px;
    position: absolute;
    animation: slide-in-reverse 0.5s ease-in-out forwards;
    z-index: 1;
  }

  .containeraroundlinksMenuOpen{
    background-color: rebeccapurple;
    z-index: 1;
    margin-top: 325px;
    height: 210px;
    width: 100%;
    background-color: #252527;
    padding: 20px;
    position: absolute;
    animation: slide-in-top 0.5s ease-in-out ;
  }

  .navigation{
    display: flex;
    justify-content: center;
  }

  .personal{
    margin-top: -25px;
    display: flex;
    justify-content: center;
  }

  .header{
    gap: 250px;
    
  }

  .containeraroundlinksMenuOpen{
    display: flex;
    flex-direction: column;
  }

  .numberCart{
    position:relative;
    top: -12px;
    left: 26px
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 0;
  }
  40%{
   opacity:  0.05;
  }
  70%{
    opacity: 0.22;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  }

@keyframes slide-in-reverse {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  50%{
    opacity: 0.42;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  80%{
    opacity:  0.15;
   }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 0;
  }
}

.logo{
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}


.numberCart h2{
  color: white;
}

.overlay{
  z-index: 50;
  width: 100%;
  height: 100vh;
  background-color: #00000082;
  backdrop-filter: blur(3px);
}

.overlayUndefined{
  display: none;
}

.overlayOpen{
  position: fixed;
}

.overlayClose{
  animation: fadeOut 1s forwards;
  position: fixed;
}

@keyframes fadeOut {
  from { opacity: 1;position: fixed; }
  to { opacity: 0;
  display: none;
z-index: -5; }
}

@keyframes shake {
    from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(0.96);
    animation-timing-function: ease-out;
  }
  to{
    transform: scale(1);
  }
}

.shake {
  animation: shake 2.5s ease-in-out both;
}