.modalContainer{
  background-color: #00000075;
  backdrop-filter: blur(3px);  
  
  position: fixed;
  top: 50px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

}

.modalContainer .notActive{
  display: none;
}


.modalContainer .modal{
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height:fit-content;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0 2px 4px -2px rgba(92,92,92);
  align-items: center;
  z-index: 101;
}

.modalContainer  h3 {
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 2rem;
  text-align: center;
  font-family: "Rubik",sans-serif;
  color: rgb(92, 92, 92);
  font-weight: 500;
}


.buttonsContainer{
  padding: 1rem;
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: end;
  justify-items: end;
  gap: 2rem;
  }

.buttonsContainer  h4{
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  font-family: "Rubik",sans-serif;
  color: white;
  font-weight: 500;
  line-height: 1rem;
  padding: 0.6rem;

}

.buttonsContainer .button{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 2.8rem;
  width: 40%;
  border-radius: 0.2rem;
  cursor: pointer;
}

.buttonsContainer .signOut{
  background-color:#F07777 ;
}
.buttonsContainer .signOut:hover{
  background-color: red;
}

.buttonsContainer .closeModal{
  background-color: #007aff ;
}

.buttonsContainer .closeModal:hover{
  background-color: #47a0ff;
}

.image{
  width: 50px;
  height: 50px;
  margin-bottom: 2rem;
}